#title {
    color:red;
}
body {
    background-color:antiquewhite;
    color: rgb(0, 0, 0);
    font-size: 21px;

}
p {
    color:black;
}
img {
    width: 500px;
    height:300px;
    border: 10px solid salmon;
 
}
